p{
    text-align: center;
}

img{
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}
.bodyBlock {
    float: left;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

.bodyBlock div{
    float: left;

    margin: 20px;
    height: 500px;
    
}

.preview img {
    width: 100px;
    height: 100px;
}

.view{

    width: 200px;
}

.view img{
    width: 200px;
    height: 200px;
}

